body{
    font-size: 20px;
}

section{
    width: 100%;
}

#about-section{
    height: auto;

    width: 100%;
}

#about-profil{
    color: dimgray;
    width: 100%;
}



.text-center{
    text-align: center;
}

.section-heading{
    color: aqua;
    font-size: 35px;
}

#education{
    width: 100%;
    height: auto;
}

#education img{
    width: 20%;
    height: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-2{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}